#psss {
    width: 80%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    padding: 20px;
    font-size: 20px;
    font-family: 'Source Sans Pro';
}

#psss .post {
    margin-bottom: 20px;
}

#psss .date {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #3498db;
}

#psss .quote {
    border-left: 5px solid #bdc3c7;
    padding: 5px;
}

#psss h2 {
    font-size: 2em;
    font-weight: bold;
    color: #374c60;
}

#psss hr {}